.home-container {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    /* url("https://pbs.twimg.com/media/DWH8pTQW4AAdp4F.jpg") no-repeat center; */
    url("../Images/home.webp");
  background-size: cover;
  height: 150vh;
}
.container-inner {
  padding: 150px 40px;
  text-align: center;
  color: white;
  font-size: 50px;
  opacity: 0.7;
}
.container-inner p {
  max-width: 600px;
  margin: 25px auto;
  font-size: 40px;
  font-weight: 600;
}
.email-box-home {
  height: 45px;
  display: flex;
  justify-content: center;
}
.email-box-home span {
  background: #252525;
  width: 65px;
  line-height: 40px;
}
.tbox-home,
.btn-home {
  border: none;
  outline: none;
}
.tbox-home {
  width: 0px;
  transition: 0.6s;
  font-size: 30px!important;
  color: #252525;
}
.email-box-home:hover > .tbox-home,
.tbox-home:focus {
  width: 560px;
  padding: 0 10px;
}

.btn-home {
  background: green;
  color: whitesmoke;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 100!important;
}


