/* (A) SEARCH BOX */
#the-filter {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}

/* (B) LIST */
#the-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#the-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
#the-list li:hover {
  background: #fffed6;
}
#the-list li.hide {
  display: none;
}

/* (X) DOES NOT MATTER */
/* PAGE & BODY */
/* * {
  font-family: arial, sans-serif;
  box-sizing: border-box;
} */
.search-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../Images/workout.jpg);
  /* background-image: url(https://images.unsplash.com/photo-1559239115-ce3eb7cb87ea?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MTcwMDMyNA&ixlib=rb-1.2.1&q=85); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* WIDGET */
.widget-wrap {
  min-width: 500px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
}

/* FOOTER */
#code-boxx {
  font-weight: 600;
  margin-top: 50px;
}
#code-boxx a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  background: #b90a0a;
  color: #fff;
}
