html,
body {
  height: 100%;
}

.workout-container {
  display: table;
  width: 100%;
  background-image: url("https://www.athletenetwork.com/userfiles/images/brad%20pitt%20workout.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#counterButtons,
#startAgain {
  display: none;
}

.container-flex {
  display: table-cell;
  height: 100%;
  min-height: 100%;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(50, 10, 10, 0.81);
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

#start {
  display: block;
  margin: 30px auto;
}

#tittle,
#secondTittle {
  font-size: 350%;
  margin-top: 40px;
}

#timeSet input,
#counterButtons input {
  width: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 50px;
  text-align: center;
}

.inputs {
  display: inline-block;
}

#timeSet,
#counterButtons {
  margin-top: 30px;
  font-size: 200%;
}

#timeSet label,
#counterButtons label {
  font-weight: 200;
}

#start,
#setTime,
#startAgain,
#pause {
  font-size: 90%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
